USE [master]
create database [PRESENCE]
USE [PRESENCE]
GO
/****** Object:  Table [dbo].[ActingTeacher]    Script Date: 10/05/2022 11:07:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActingTeacher](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[KindergartenId] [int] NOT NULL,
	[DayByWeek] [int] NULL,
	[Date] [date] NULL,
 CONSTRAINT [PK_ActingTeacher] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Birthdays]    Script Date: 10/05/2022 11:07:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Birthdays](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsPossible] [bit] NOT NULL,
	[KindergartenId] [int] NOT NULL,
	[HebrewDate] [bit] NULL,
	[BirthdayPerMonth] [bit] NULL,
	[DayByMonth] [int] NULL,
	[DayByWeek] [int] NULL,
	[NumDaysBefore] [int] NULL,
 CONSTRAINT [PK_Birthdays] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Connection]    Script Date: 10/05/2022 11:07:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Connection](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Phone] [bit] NOT NULL,
	[Email] [bit] NOT NULL,
	[SMS] [bit] NOT NULL,
 CONSTRAINT [PK_Connection] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DelaySchoolBuses]    Script Date: 10/05/2022 11:07:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DelaySchoolBuses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SchoolBusId] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[DelayTime] [time](7) NOT NULL,
	[EscortId] [int] NOT NULL,
 CONSTRAINT [PK_DelaySchoolBuses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kindergarten]    Script Date: 10/05/2022 11:07:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kindergarten](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](10) NOT NULL,
	[TeacherId] [int] NOT NULL,
 CONSTRAINT [PK_Kindergarten] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KindergartenPresence]    Script Date: 10/05/2022 11:07:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KindergartenPresence](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KindergartenId] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_KindergartenPresence] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Parents]    Script Date: 10/05/2022 11:07:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parents](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ConnectionId] [int] NOT NULL,
 CONSTRAINT [PK_Parents] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PresenceType]    Script Date: 10/05/2022 11:07:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PresenceType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_PresenceType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reminders]    Script Date: 10/05/2022 11:07:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reminders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Hour] [time](7) NOT NULL,
	[SnoozeDuration] [int] NOT NULL,
	[Daily] [int] NULL,
	[Weekly] [int] NULL,
	[Monthly] [int] NULL,
	[KindergartenId] [int] NOT NULL,
 CONSTRAINT [PK_Reminders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SchoolBuses]    Script Date: 10/05/2022 11:07:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SchoolBuses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ArrivalTime] [time](7) NOT NULL,
	[EscortId] [int] NOT NULL,
 CONSTRAINT [PK_SchoolBuses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 10/05/2022 11:07:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LastName] [nvarchar](20) NOT NULL,
	[FirstName] [nvarchar](20) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[Picture] [nvarchar](max) NULL,
	[Gender] [bit] NOT NULL,
	[FatherId] [int] NULL,
	[MotherId] [int] NULL,
	[KindergartenId] [int] NOT NULL,
	[SchoolBusId] [int] NOT NULL,
 CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentsPresence]    Script Date: 10/05/2022 11:07:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentsPresence](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NOT NULL,
	[KindergartenPresenceId] [int] NOT NULL,
	[TypePresence] [int] NOT NULL,
 CONSTRAINT [PK_StudentsPresence] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10/05/2022 11:07:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LastName] [nvarchar](20) NOT NULL,
	[FirstName] [nvarchar](20) NOT NULL,
	[Phone] [nvarchar](10) NOT NULL,
	[Email] [nvarchar](30) NULL,
	[Password] [nvarchar](15) NOT NULL,
	[UserType] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsersTypes]    Script Date: 10/05/2022 11:07:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_UsersTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Connection] ON 

INSERT [dbo].[Connection] ([Id], [Phone], [Email], [SMS]) VALUES (1, 0, 0, 0)
INSERT [dbo].[Connection] ([Id], [Phone], [Email], [SMS]) VALUES (2, 0, 0, 1)
INSERT [dbo].[Connection] ([Id], [Phone], [Email], [SMS]) VALUES (3, 0, 1, 0)
SET IDENTITY_INSERT [dbo].[Connection] OFF
GO
SET IDENTITY_INSERT [dbo].[Parents] ON 

INSERT [dbo].[Parents] ([Id], [UserId], [ConnectionId]) VALUES (2, 7, 6)
SET IDENTITY_INSERT [dbo].[Parents] OFF
GO
SET IDENTITY_INSERT [dbo].[PresenceType] ON 

INSERT [dbo].[PresenceType] ([Id], [Type]) VALUES (1, N'איחור מראש')
INSERT [dbo].[PresenceType] ([Id], [Type]) VALUES (2, N'חיסור מראש')
INSERT [dbo].[PresenceType] ([Id], [Type]) VALUES (3, N'איחור')
SET IDENTITY_INSERT [dbo].[PresenceType] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [LastName], [FirstName], [Phone], [Email], [Password], [UserType]) VALUES (4, N'Pasternak', N'Reut', N'0556708858', N'reut08858@gmail.com', N'1234', 1)
INSERT [dbo].[Users] ([Id], [LastName], [FirstName], [Phone], [Email], [Password], [UserType]) VALUES (5, N'Lev', N'Esti', N'0583281357', N'st3281357@gmail.com', N'4321', 2)
INSERT [dbo].[Users] ([Id], [LastName], [FirstName], [Phone], [Email], [Password], [UserType]) VALUES (7, N'Shushan', N'Shoshana', N'0582557455', N'455@gmail.com', N'7455', 4)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[UsersTypes] ON 

INSERT [dbo].[UsersTypes] ([Id], [Type]) VALUES (1, N'מנהלת גן')
INSERT [dbo].[UsersTypes] ([Id], [Type]) VALUES (2, N'גננת משלימה')
INSERT [dbo].[UsersTypes] ([Id], [Type]) VALUES (3, N'גננת ממלאת מקום')
SET IDENTITY_INSERT [dbo].[UsersTypes] OFF
GO
ALTER TABLE [dbo].[ActingTeacher]  WITH CHECK ADD  CONSTRAINT [FK_ActingTeacher_Kindergarten] FOREIGN KEY([KindergartenId])
REFERENCES [dbo].[Kindergarten] ([Id])
GO
ALTER TABLE [dbo].[ActingTeacher] CHECK CONSTRAINT [FK_ActingTeacher_Kindergarten]
GO
ALTER TABLE [dbo].[ActingTeacher]  WITH CHECK ADD  CONSTRAINT [FK_ActingTeacher_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[ActingTeacher] CHECK CONSTRAINT [FK_ActingTeacher_Users]
GO
ALTER TABLE [dbo].[Birthdays]  WITH CHECK ADD  CONSTRAINT [FK_Birthdays_Kindergarten] FOREIGN KEY([KindergartenId])
REFERENCES [dbo].[Kindergarten] ([Id])
GO
ALTER TABLE [dbo].[Birthdays] CHECK CONSTRAINT [FK_Birthdays_Kindergarten]
GO
ALTER TABLE [dbo].[DelaySchoolBuses]  WITH CHECK ADD  CONSTRAINT [FK_DelaySchoolBuses_SchoolBuses] FOREIGN KEY([SchoolBusId])
REFERENCES [dbo].[SchoolBuses] ([Id])
GO
ALTER TABLE [dbo].[DelaySchoolBuses] CHECK CONSTRAINT [FK_DelaySchoolBuses_SchoolBuses]
GO
ALTER TABLE [dbo].[DelaySchoolBuses]  WITH CHECK ADD  CONSTRAINT [FK_DelaySchoolBuses_Users] FOREIGN KEY([EscortId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[DelaySchoolBuses] CHECK CONSTRAINT [FK_DelaySchoolBuses_Users]
GO
ALTER TABLE [dbo].[Kindergarten]  WITH CHECK ADD  CONSTRAINT [FK_Kindergarten_Users] FOREIGN KEY([TeacherId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Kindergarten] CHECK CONSTRAINT [FK_Kindergarten_Users]
GO
ALTER TABLE [dbo].[KindergartenPresence]  WITH CHECK ADD  CONSTRAINT [FK_KindergartenPresence_Kindergarten] FOREIGN KEY([KindergartenId])
REFERENCES [dbo].[Kindergarten] ([Id])
GO
ALTER TABLE [dbo].[KindergartenPresence] CHECK CONSTRAINT [FK_KindergartenPresence_Kindergarten]
GO
ALTER TABLE [dbo].[KindergartenPresence]  WITH CHECK ADD  CONSTRAINT [FK_KindergartenPresence_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[KindergartenPresence] CHECK CONSTRAINT [FK_KindergartenPresence_Users]
GO
ALTER TABLE [dbo].[Parents]  WITH CHECK ADD FOREIGN KEY([ConnectionId])
REFERENCES [dbo].[Connection] ([Id])
GO
ALTER TABLE [dbo].[Parents]  WITH CHECK ADD  CONSTRAINT [FK_Parents_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Parents] CHECK CONSTRAINT [FK_Parents_Users]
GO
ALTER TABLE [dbo].[Reminders]  WITH CHECK ADD  CONSTRAINT [FK_Reminders_Kindergarten] FOREIGN KEY([KindergartenId])
REFERENCES [dbo].[Kindergarten] ([Id])
GO
ALTER TABLE [dbo].[Reminders] CHECK CONSTRAINT [FK_Reminders_Kindergarten]
GO
ALTER TABLE [dbo].[SchoolBuses]  WITH CHECK ADD  CONSTRAINT [FK_SchoolBuses_Users] FOREIGN KEY([EscortId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[SchoolBuses] CHECK CONSTRAINT [FK_SchoolBuses_Users]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_Kindergarten] FOREIGN KEY([KindergartenId])
REFERENCES [dbo].[Kindergarten] ([Id])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_Kindergarten]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_Parents_Father] FOREIGN KEY([FatherId])
REFERENCES [dbo].[Parents] ([Id])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_Parents_Father]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_Parents_Mother] FOREIGN KEY([MotherId])
REFERENCES [dbo].[Parents] ([Id])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_Parents_Mother]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_SchoolBuses] FOREIGN KEY([SchoolBusId])
REFERENCES [dbo].[SchoolBuses] ([Id])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_SchoolBuses]
GO
ALTER TABLE [dbo].[StudentsPresence]  WITH CHECK ADD  CONSTRAINT [FK_StudentsPresence_KindergartenPresence] FOREIGN KEY([KindergartenPresenceId])
REFERENCES [dbo].[KindergartenPresence] ([Id])
GO
ALTER TABLE [dbo].[StudentsPresence] CHECK CONSTRAINT [FK_StudentsPresence_KindergartenPresence]
GO
ALTER TABLE [dbo].[StudentsPresence]  WITH CHECK ADD  CONSTRAINT [FK_StudentsPresence_PresenceType] FOREIGN KEY([TypePresence])
REFERENCES [dbo].[PresenceType] ([Id])
GO
ALTER TABLE [dbo].[StudentsPresence] CHECK CONSTRAINT [FK_StudentsPresence_PresenceType]
GO
ALTER TABLE [dbo].[StudentsPresence]  WITH CHECK ADD  CONSTRAINT [FK_StudentsPresence_Students] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([Id])
GO
ALTER TABLE [dbo].[StudentsPresence] CHECK CONSTRAINT [FK_StudentsPresence_Students]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_UsersTypes] FOREIGN KEY([UserType])
REFERENCES [dbo].[UsersTypes] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_UsersTypes]
GO
